<a
  class="button"
  style="width: {{ include.width }}; text-align: center; margin-right: 1em"
  target="_blank"
  href="https://app.demo.volca.io"
  ><i
    class="ion ion-ios-rocket"
    style="color: #fff; font-size: 0.8em; margin-right: 4px"
  ></i>
  Demo</a
>
<a
  class="button button--primary"
  style="width: {{ include.width }}; text-align: center; margin-top: 1em"
  href="/pricing/"
  ><i
    class="ion ion-ios-cloud-download"
    style="font-size: 0.8em; margin-right: 4px"
  ></i>
  Download ($99)</a
>
