<div class="row" style="margin-bottom: 6em">
  <div class="col col-6">
    <div class="portfolio__item">
      <p
        class="portfolio__item__title"
        style="font-size: 1.5em; margin-bottom: 0"
      >
        Solo
      </p>
      <p
        class="portfolio__item__title"
        style="font-size: 2em; font-weight: bold"
      >
        $99
      </p>
      <ul style="list-style-type: none; margin-left: 0">
        <li>🏦 Tax will be added in checkout</li>
        <li>💵 One-time payment</li>
        <li>
          💼 License for <a href="/terms/" target="_blank">one project</a>
        </li>
        <li>✨ All features included</li>
        <li>👩‍💻 Access to a private GitHub repository</li>
        <li>🙋 Questions? Drop us a message in the bottom left corner</li>
      </ul>
      <a
        class="button button--primary"
        style="width: 100%; text-align: center; margin-top: 1em"
        href="https://buy.stripe.com/28oaHQ0r86okfRu4gi "
        ><i
          class="ion ion-ios-cloud-download"
          style="font-size: 0.8em; margin-right: 4px"
        ></i>
        Download</a
      >
    </div>
  </div>
  <div class="col col-6">
    <div class="portfolio__item">
      <p
        class="portfolio__item__title"
        style="font-size: 1.5em; margin-bottom: 0"
      >
        Team
      </p>
      <p
        class="portfolio__item__title"
        style="font-size: 2em; font-weight: bold"
      >
        $399
      </p>
      <ul style="list-style-type: none; margin-left: 0">
        <li>👥 Multiple GitHub collaborators</li>
        <li>🏦 Tax will be added in checkout</li>
        <li>💵 One-time payment</li>
        <li>
          💼 License for <a href="/terms/" target="_blank">one project</a>
        </li>
        <li>✨ All features included</li>
        <li>👩‍💻 Access to a private GitHub repository</li>
        <li>🙋 Questions? Drop us a message in the bottom left corner</li>
      </ul>
      <a
        class="button button--primary"
        style="width: 100%; text-align: center; margin-top: 1em"
        href="https://buy.stripe.com/7sI8zI3Dk6ok48M7sv "
        ><i
          class="ion ion-ios-cloud-download"
          style="font-size: 0.8em; margin-right: 4px"
        ></i>
        Download</a
      >
    </div>
  </div>
</div>
