<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-4">
        <h4>SaaS Boilerplates and Starter Kits</h4>
        <ul>
          <li><a href="/kits/python/">Python and Django</a></li>
          <li><a href="/kits/ruby/">Ruby on Rails</a></li>
          <li><a href="/kits/php/">PHP</a></li>
        </ul>
      </div>
      <div class="col col-4">
        <h4>Legal</h4>
        <ul>
          <li><a href="/terms/">Terms</a></li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col col-4">
        <h4>Learn More</h4>
        <ul>
          <li><a href="/launch/">Launch</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="footer__inner" style="text-align: center">
          
          <!--
          {% if site.data.settings.social %}
          <div class="social">
            <ul class="social__list list-reset">
              {% for social in site.data.settings.social %}
              <li class="social__item">
                <a
                  class="social__link"
                  href="{{social.link}}"
                  target="_blank"
                  rel="noopener"
                  aria-label="{{social.label}} link"
                  ><i
                    class="ion {{social.icon}}"
                    style="color: {{social.color}};"
                  ></i>
                  {{social.label}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          -->
        </div>

        <div class="footer__info">
          <div class="copyright">
            {{site.time | date: '%Y'}} &copy;
            <a href="/">{{site.data.settings.title}}</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
