<div class="row">
  <div class="col col-2"></div>
  <div class="col col-8">
    <div class="portfolio__item">
      <p class="portfolio__item__title">$99</p>
      <ul style="list-style-type: none; margin-left: 0">
        <li>🏦 Tax will be added in checkout</li>
        <li>💵 One-time payment</li>
        <li>
          💼 License for <a href="/terms/" target="_blank">one project</a>
        </li>
        <li>✨ All features included</li>
        <li>🙋 Questions? Drop us a message in the bottom left corner</li>
      </ul>
      <a
        class="button button--primary"
        style="width: 100%; text-align: center; margin-top: 1em"
        href="https://buy.stripe.com/28oaHQ0r86okfRu4gi "
        ><i
          class="ion ion-ios-cloud-download"
          style="font-size: 0.8em; margin-right: 4px"
        ></i>
        Download ($99)</a
      >
    </div>
  </div>
  <div class="col col-2"></div>
</div>
