<!-- begin how -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">
            How it works
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <p>⬇️ Download the complete source code for Volca which includes all features listed on the site.</p>
          <p>⚙️ Configure the template with your own domain, the name of your project and customize the backing technologies.</p>
          <p>🚀 Start building the features that make your product unique and avoid wasting time on building the things you always need for a SaaS product.</p>
        </div>  
      </div>
    </div>
  </div>
</section>
<!-- end how -->
