<div class="row">
  <div class="article col col-6 col-d-6 col-t-12">
    <div class="article__inner">
      <div class="article__head">
        <img
          src="https://volca.io/images/karl.jpg"
          alt="Karl Eriksson"
          style="height: 150px; margin-bottom: 16px"
        />
      </div>

      <div class="article__content">
        <h2 class="article__title">Karl Eriksson</h2>
        <p class="article__excerpt">2X Founder @ Micro SaaS Company</p>
        <p class="article__excerpt">Cloud Architect @ OTT Streaming Service</p>
        <p class="article__excerpt">Cloud Architect @ IoT Big Data Platform</p>
      </div>
    </div>
  </div>
  <div class="article col col-6 col-d-6 col-t-12">
    <div class="article__inner">
      <div class="article__head">
        <img
          src="https://volca.io/images/oskar.jpg"
          alt="Oskar Karlsson"
          style="height: 150px; margin-bottom: 16px"
        />
      </div>

      <div class="article__content">
        <h2 class="article__title">Oskar Karlsson</h2>
        <p class="article__excerpt">CTO @ Startup</p>
        <p class="article__excerpt">
          Cloud Architect @ Enterprise IAM Platform
        </p>
        <p class="article__excerpt">Full Stack Developer @ Fintech</p>
      </div>
    </div>
  </div>
</div>
