<!-- begin video -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div
        class="col col-12"
        style="justify-content: center; align-items: center; display: flex"
      >
        <img
          style="
            display: flex;
            border-radius: 12px;
            width: 100%;
            box-shadow: 0px 0px 72px 0px rgba(255, 255, 255, 0.3);
          "
          class="lazy"
          data-src="{{site.baseurl}}/images/demo.gif"
        />
      </div>
    </div>
  </div>
</section>
<!-- end video -->
