<!-- begin testimonials -->
<section class="testimonials">
    <div class="container">
        <div class="section__head">
          <h2 class="section__title">
            Testimonials
          </h2>
        </div>
        <div class="row">
            <div class="article col col-12" style="padding: 48px">
              <div class="article__inner row">          
                <div class="article__content col-9">
                  <p class="article__excerpt" style="font-size: 1.5em;">"I love the decoupled methodology and the serverless stack that Volca is running on"</p>
                  <p class="article__excerpt" style="margin-top: .2em">Allan, Principal Security Architect</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>