<!-- begin how -->
<section class="section" id="technology-api">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">Technology API</h2>
          <p>We created an open API providing lists of technologies for use by system inventory systems, job posting metadata or SaaS services. The documentation is available <a rel="nofollow" target="_blank" href="https://volca.io/technology-api/">here</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery">
    <div class="container">
      <div class="row">
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <p style="font-size: 1.5em">🗣️ Programming Languages</p>
            <p>
              Complete list of programming languages
            </p>
            <p></p>
          </div>
        </div>
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <p style="font-size: 1.5em">🛢️ Relational Databases</p>
            <p>
              Complete list of relational databases
            </p>
          </div>
        </div>
        <div class="col col-4 col-d-6 col-t-12">
          <div class="portfolio__item">
            <p style="font-size: 1.5em">📃 NoSQL Databases</p>
            <p>
              Complete list of NoSQL databases.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  if (window.location.hash === '#api') {
    document.getElementById('main-content').prepend(document.getElementById('technology-api') || '');
  }
</script>
<!-- end how -->
