<!-- begin testimonials -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div
        class="article col col-2"
        style="
          padding: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/react.svg" />
      </div>
      <div
        class="article col col-2"
        style="
          padding: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/aws.svg" />
      </div>
      <div
        class="article col col-2"
        style="
          padding: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/postgres.svg" />
      </div>
      <div
        class="article col col-2"
        style="
          padding: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/typescript.svg" />
      </div>
      <div
        class="article col col-2"
        style="
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/stripe.svg" />
      </div>
      <div
        class="article col col-2"
        style="
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img src="/images/yarn.svg" />
      </div>
    </div>
  </div>
</section>
