<div class="row">
  <div class="article col col-6 col-d-6 col-t-12">
    <div class="article__inner">

      <div class="article__head">
        <img class="lazy" data-src="{{site.baseurl}}karl.jpg" alt="Karl Eriksson">
      </div>

      <div class="article__content">

        <h2 class="article__title">
          Karl Eriksson
        </h2>

        <p class="article__excerpt">Ex Klarna</p>

      </div>
    </div>
  </div>
  <div class="article col col-6 col-d-6 col-t-12">
    <div class="article__inner">

      <div class="article__head">
        <img class="lazy" data-src="{{site.baseurl}}karl.jpg" alt="Karl Eriksson">
      </div>

      <div class="article__content">

        <h2 class="article__title">
          Karl Eriksson
        </h2>

        <p class="article__excerpt">Ex Klarna</p>

      </div>
    </div>
  </div>
</div>
