---
layout: default
---

<!-- begin page -->
<div class="container animate">
  <div class="row">
    <div class="col col-3 col-t-12">
      <h2>Content</h2>
      <ul style="list-style-type: none; margin-left: 0; padding-left: 0">
        {% for doc in site.data.settings.docs %} {% if page.layout == 'doc' %}
        <li>
          <a href="{{ doc.url }}">{{ doc.title }}</a>
          {% for subpage in doc.subpages %} {% if doc.subpages %}
          <ul style="list-style-type: none; margin-top: 12px">
            <li>
              <a href="{{ subpage.url }}">{{ subpage.title }}</a>
            </li>
          </ul>
          {% endif %} {% endfor %}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <div class="col col-9 col-t-12">
      {% if page.image %}
      <div class="row">
        <div class="col col-12">
          <div class="page-image">
            <img src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}" />
          </div>
        </div>
      </div>
      {% endif %}

      <article class="page">
        <h1 class="page__title">{{ page.title | escape }}</h1>
        <div class="page__content">{{ content }}</div>
      </article>
    </div>
  </div>
</div>
<!-- end page -->

{% include section-subscribe.html %}
